/*my css will be in here*/
body {
  background-color: #eeebbb;
}
h1, h2, h3 {
  font-family: Verdana;
}
p {
  font-family: Verdana;
}
table, td {
    border: 2px solid #889977;
    padding: 3px;
    font-family: Verdana;
}
